#meas_plg{
    padding: 3%;
    width: 1000px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    #meas{
        border: 1px black solid;
        width: 100%;
        cursor: crosshair;
    }
    #base_size{
        width: 50px;
    }
    #base{
        margin-left: 20px;
    }
    .text{
        width: 100%;
        border: 1px black solid;
        p{
            text-align: center;
        }
    }
    .open{
        input{
            width: 63%;
        }
    }
}